<nav class="bg-body-tertiary mb-3 navbar navbar-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Navbar Offcanvas</a>
    <button
      aria-controls="offcanvasNavbar-expand-false"
      type="button"
      aria-label="Toggle navigation"
      class="navbar-toggler collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      id="offcanvasNavbar-expand-false"
      class="offcanvas offcanvas-end"
      aria-labelledby="offcanvasNavbarLabel-expand-false"
    >
      <div class="offcanvas-header">
        <div class="offcanvas-title h5" id="offcanvasNavbarLabel-expand-false">
          Offcanvas
        </div>
        <button type="button" class="btn-close" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="justify-content-end flex-grow-1 pe-3 navbar-nav">
          <a href="#action1" data-rr-ui-event-key="#action1" class="nav-link"
            >Home</a
          ><a href="#action2" data-rr-ui-event-key="#action2" class="nav-link"
            >Link</a
          >
          <div class="nav-item dropdown">
            <a
              id="offcanvasNavbarDropdown-expand-false"
              aria-expanded="false"
              role="button"
              class="dropdown-toggle nav-link"
              tabindex="0"
              href="#"
              >Dropdown</a
            >
          </div>
        </div>
        <form class="d-flex">
          <input
            placeholder="Search"
            aria-label="Search"
            type="search"
            class="me-2 form-control"
          /><button type="button" class="btn btn-outline-success">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>
